@use '../var';

.hero{

padding: 7.6vw;
height: 100vh;
display: flex;
align-items: center;

@media (max-width:1200px) {
    height: max-content;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding: 9rem 3.6vw 7rem 3.6vw;
}



    &__imagem{
        max-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;


        @media (max-width:1200px) {
            margin: 2rem 0px;
        }


        img{
            max-width: 90%;
            width: 100%;
            animation: flutuar 3s ease-in-out infinite;
        }
    }

    &__content{
        max-width: 100%;

        @media (max-width:1200px) {
            max-width: 100%;
        }

 

        h1{
            

            @media (max-width:1200px) {
                text-align: center;
            }


            .text{
                margin-top: 1.5rem;
                max-width: 90%;

                @media (max-width:1200px) {
                    max-width: 100%;
                }
 
            }

            }
            
        }


    }


.hero__alinhar{

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:1200px) {
        width: 100%;
        flex-direction: column;
    }

}

.hero__content__buttons{
    margin-top: 4rem;
    max-width: 300px;

    @media (max-width:800px) {
        max-width: 100%;
        flex-direction: column;
    }
}


@keyframes flutuar {
    0%, 100%{
        margin-top: -40px;
    }

    50%{
        margin-top: 20px;
    }
}