.local{
    padding: 5.6vw;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:1200px) {
        padding: 3.6vw;
        height: max-content;
    }


    &__alinhar{
        display: flex;
        align-items: center;
        height: max-content;


        &__content{
           max-width: 65%;

           @media (max-width:1200px) {
            max-width: 100%;
        }

        &__mobille{
            width: 100%;
            

            img{
                margin-top: 3rem;
                width: 100%;
                border-radius: 30px;
            }
        }

           .text{
            margin-top: 3rem;
            max-width: 80%;



            @media (max-width:1200px) {
                max-width: 100%;
            }
           }
        }

        &__imagem{

            position: absolute;
            display: flex;
            align-items: center;
            right: 0;
            height: 500px;

            @media (max-width:1200px) {
                position: relative;
                opacity: .3;
            }


            img{
                height: 100%;
                position: absolute;
                right: 0;
                animation: brilhar 7s linear infinite;

            }
        }
    }
}


@keyframes brilhar {
    0%,100%{
        opacity: .8;
    }

    50%{
        opacity: 0.3;
    }
}