.navegation{
height: 77px;
width: 100%;
max-width: 100%;
position: fixed;
background: rgba(255, 255, 255, 0);
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
z-index: 3000;


    .btn-close{
        background-color: rgb(224, 224, 224);
    }

    .navbar__my{
        padding-top: 1rem;


        .container-fluid{

            &__navbar__items{
                display: flex;
                gap: 32px;

                @media (max-width:1200px) {
                    display: none;
                }

                &__item{
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    width: 110px;
                    height: 45px;

                    &:hover{
                        color: #5410d1;
                        font-weight: 600;
                    }
                }
            }
        }


        .navbar-brand{
            height: 100%;
    
            img{
                max-height: 30px;
            }
        }

        .offcanvas{
            background-color: rgb(31, 31, 31);
            height: 100vh;
            color: white;

            ul li a{
                color: white;
            }


        }
    
    
        .navbar-toggler{
            background-color:  #252525;
        }
    
    }
}

.btn-close{
    color: white;
}


.IconCart{
    position: relative;

    span{
        position: absolute;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: white;
        margin-top: -11px;
        margin-left: 18px;
    }
}